[Unit]
Description=Service for monitoring the KNX traffic over the Baos 777
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=1
Environment=PYTHONPATH=/usr/local/snom_baos_777/
WorkingDirectory=/usr/local/snom_baos_777/
ExecStart=/usr/bin/python3 baos777/launch_monitor.py

[Install]
WantedBy=multi-user.target
