{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>{% block title %}{{project}}{% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static '/knx/style.css' %}"></link>
    </head>
    <body>
        <header>
            <h1>{% block header %}IoT{% endblock header %}</h1>
        </header>
        <nav id="base">
            <h2>
                <a href="{% url 'knx:knx_home' %}">KNX</a>
                <a href="{% url 'dect:dect_home' %}">DECT ULE</a>
                <a href="{% url 'snom_sensors:snom_sensors_home' %}">SNOM SENSORS</a>
                <a href="{% url 'beacons:beacons_home' %}">BEACONS</a>
            </h2>
        </nav>
        <nav id="app">{% block app_nav %}{% endblock app_nav %}</nav>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            Simón Golpe Varela
        </footer>
    </body>
</html>
