{% extends "knx/base_knx.html" %}

{% load static %}

{% block title %}{{app}}|Control{% endblock title %}
{% block header %}{{app}} - Control{% endblock header %}

{% block content %}
    {% if addresses_groups %}
        {% for maingroup, subgroups in addresses_groups.items %}
            <div class="maingroup">{{maingroup}}
            {% for subgroup in subgroups %}
                <div class="subgroup">
                    <a href={% url 'knx:addresses' maingroup subgroup %}>{{subgroup}}</a>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <h2><a href="{% url 'knx:upload_file' %}">Upload</a> first your .csv file with the KNX addresses</h2>
    {% endif %}

{% endblock content %}
