{% extends 'knx/base.html' %}

{% load static %}

{% block title %}|{{ app }}|{{ page }}{% endblock title %}
{% block header %}- {{app }} - {{ page }}{% endblock header %}


{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
    }
    table {border-spacing: 2px;}
    td    {padding: 6px;}
    th    {padding: 6px;}
</style>

    <table>
        <tr>
        {% for item in als_value.items %}     
            <th>{{ item.0 }}</th>
        {% endfor %}
        </tr>
        <tr>
        {% for item in als_value.items %}
            <td>{{ item.1 }}</td>
        {% endfor %}
        </tr>
    </table>

{% endblock content %}