{% extends 'base_generic.html' %}

{% load static %}

{% block title %}{{block.super}}|{{ app }}|{{ page }}{% endblock title %}
{% block header %}{{block.super}} - {{app }} - {{ page }}{% endblock header %}

{% block app_nav %}
    <h3>
        <a href="{% url 'knx:knx_home' %}">Control </a>|
        <a href="{% url 'knx:groupaddresses' %}">Groupaddresses </a>|
        <a href="{% url 'knx:minibrowser' %}">Snom minibrowser </a>|
        <a href="{% url 'knx:subprocesses' %}">Subprocesses </a>|
        <a href="{% url 'knx:upload_file' %}">Upload </a>|
    </h3>
{% endblock app_nav %}

{% block content %}{% endblock content %}