{% extends 'knx/base.html' %}

{% load static %}

{% block title %}|{{ app }}|{{ page }}{% endblock title %}
{% block header %}- {{app }} - {{ page }}{% endblock header %}


{% block content %}
    <form id="ule_form" method="POST" action="{% url 'knx:dect_ule' %}">
        <label for="cmd">Your command: </label>
        <input id="cmd" type="text" name="cmd">	
        <input type="submit" value="send command" />
        {% csrf_token %}
    </form>
    <div id="sent_cmd">
        <p>Your sent command: {{command}}</p>
    </div>

{% endblock content %}
