{% extends 'knx/base_knx.html' %}

{% load static %}


{% block content %}
    <a href="{% url 'knx:knx_home' %}">Back</a>
    {% for groupaddress in groupaddresses %}
        <div class="address" style="border: 1px solid black; padding: 1em; margin: 1em;">
            <div class="address_name" style="display: inline-block"><b>{{groupaddress.alias}}</b></div>
            <div class="action" style="display: inline-block">{{groupaddress.html_action | safe}}</div>
        </div>
    {% endfor %}
{% endblock content %}