{% extends 'knx/base.html' %}

{% load static %}

{% block title %}|{{ app }}|{{ page }}{% endblock title %}
{% block header %}- {{app }} - {{ page }}{% endblock header %}


{% block content %}
<style>
    table, th, td {
        border: 1px solid black;
    }
    table {border-spacing: 2px;}
    td    {padding: 6px;}
    th    {padding: 6px;}
    caption {font-weight: bold;}
</style>
    <table id="monitor">
        <caption>KNX monitor</caption>
        <tr>
        {% for field in monitor.0.keys %}
            <th>{{ field }} </th>
        {% endfor %}
        </tr>
        {% for info in monitor.values reversed%}
        <tr>
            {% for value in info.values %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock content %}