{% extends "base_generic.html" %}

{% block content %}
  {% comment %} <h1>Renew: {{ book_instance.book.title }}</h1>
  <p>Borrower: {{ book_instance.borrower }}</p>
  <p{% if book_instance.is_overdue %} class="text-danger"{% endif %}>Due date: {{ book_instance.due_back }}</p> {% endcomment %}
  <h3>{{ message }}</h3>
  <form action="" method="get">
    {{ form.management_form }}
    {% for item in form %}
      <table>{{item.value}}</table>
    {% endfor %}
    {% comment %} {{form}} {% endcomment %}
    {% comment %} <input type="submit" value="Submit"> {% endcomment %}
  </form>
{% endblock %}