{% extends 'knx/base_knx.html' %}

{% load static %}


{% block title %}|{{ app }}|uploa{% endblock title %}
{% block header %}{{app }} - Upload{% endblock header %}

{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="csv">
            <p>
                Export from
                <a href="https://www.knx.org/knx-en/for-professionals/software/ets-5-professional/">ETS</a>
                your
                <a href="https://www.knx.org/knx-en/for-professionals/What-is-KNX/A-brief-introduction/index.php">KNX</a>
                groupaddresses as .csv file and upload it here:
            </p>
            <p>(A default xml menu for your Snom deskphone or handset will be created)</p>
        </label>
        <input type="file" name="groupaddresses">
        <button type="submit" name="file_type" value=".csv">Upload csv</button>
    </form>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="xml">
            <p>You can also download the default xml file, edit it and upload the customized one:</p>
        </label>
        <input type="file" name="minibrowser">
        <button type="submit" name="file_type" value=".xml">Upload xml</button>
    </form>
    <h2>{{ message }}</h2>

{% endblock content %}
